body
{
    font-family: sans-serif;
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.prefGroupContent div label
{
    display: inline-block;
    text-align: right;
    width: 50%;
    padding-right: 5px;
}

.prefGroup, header
{
    width: 95%;
    margin-bottom: 2%;
}

.prefGroup h3
{
    background-color: #003069;
    color: white;
    display: block;
    padding: 1em;
    cursor: pointer;
    margin: 0px;
}

.prefGroupContent
{
    background-color: #eeeeee;
    padding: .5em;
    margin: 0px;
}

.prefGroupContent div
{
    padding: .5em;
}

header
{
    background-color: #003069;
    text-align: center;
    color: white;
    padding-top: .2em;
    padding-bottom: .2em;
}

#downloadSvgButton
{
    display: none;
    font-size: 90%;
    margin-left: 1.5%;
}

button, #fileInput
{
    background-color: white;
    color: black;
    padding: .5em;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 110%;
    cursor: pointer;
}

button:hover, #fileInput:hover
{
    background-color: #dddddd;
    border-radius: 6px;
}

.prefGroupContent div input
{
    text-align: left;
}

.prefGroupContent div input[type="text"]
{
    width: 4em;
}

#rawTextInputRadio
{
    vertical-align: middle;
}


@media (min-width: 500px) {
    #leftContentColumn
    {
        width: 96vh;
    }
    #rightContentColumn
    {
        flex-grow: 1;
        padding-left: 1.5em;
    }
}

@media (max-width: 500px) { /* adjust to your needs */

    #leftContentColumn
    {
        width: 100vw;
        display: block;
    }

    #rightContentColumn
    {
        width: 100vw;
        display: block;
        
    }
}

#wordCloudPreview
{
    height: 96vh;
    max-height: 1000px;
    max-width: 1000px;
    min-height: 400px;
    min-width: 400px;
    aspect-ratio: 1;
    border: 2px solid black;
    border-radius: 5px;
    position: fixed;
}

#rawTextInput
{
    width: 95%;
    display: inline;
}

#fileInput
{
    font-size: 90%;
}

#fileInput input
{
    position: absolute;
    top: -1000px;
}

#fileInput, #rawTextInput
{
    margin-top: 3%;
}

#wordBarGraph
{
    margin: 2%;
    overflow-x: scroll;
    height: auto;
    width: 95%;
    display: none;
}

 .tooltip
{
    border: 1px solid black;
    font-size: 60%;
    border-radius: 2em;
    padding: .1em .3em;
    cursor: pointer;
    background-color: white;
}

.tooltipContent
{
    visibility: hidden;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid black;
    font-size: 130%;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltipContent
{
    visibility: visible;
}

.tooltipContent li
{
    margin-bottom: 5px;
}

.tooltipContent a
{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.tooltipContent a:hover
{
    color: #666666;
}
